<div class="row d-flex justify-content-center mt-5 mb-5">
  <div class="col col-lg-6 text-center">
    <h2>Documentation</h2>
    <p>Using Submit Hook is very easy, just point your form's action to https://www.submithook.com and add two hidden
      fields, one with the URL of the webhook you want us to call, and one with the URL your user should be redirected
      to after submitting the form. Like this:</p>
    <script src="https://gist.github.com/stephenson/9eb5a2f0295c73f51e146ec822d9fc69.js"></script>

    <p>The only things required is: The method need to be post and the form needs to include the two hidden fields
      from the above example.</p>
  </div>
</div>