<div class="row d-flex justify-content-center mt-5 mb-5">
  <div class="col col-lg-6 text-center">
    <div class="monster-divider mb-5"></div>
    <small>Delivered by <a href="https://www.legalmonster.com/">Legal Monster</a>.</small>
  </div>
</div>
