<html>
  <head>
    <meta charset="utf-8">
    <title>Submit Hook</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="max-w-sm mx-auto flex p-6 my-6 bg-white rounded-lg shadow-md">
      <div class="ml-6 pt-1">
        <h1 class="text-3xl text-gray-900 leading-tight text-center pb-5">Submit Hook</h1>
        <p class="text-base text-gray-600 leading-normal">Submit Hook lets you post to a URL, define the webhook that should receive the content of the form and what page you want to redirect the user to after submission, thats all.</p>
      </div>
    </div>
  </body>
</html>
