<html>
  <head>
    <meta charset="utf-8">
    <title>Submit Hook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900|Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-6 text-center mt-5">
          <img src="/pirate-sven.svg" class="mb-4" style="width: 150px;">
          <h1 class="mb-4">Submit Hook</h1>
          <p class="mb-5">Submit Hook lets you send content from a form on a static website to a webhook and redirect the user to a page.</p>
          <div class="monster-divider"></div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-5">
        <div class="col-6 mt-5 text-center">
          <h2>Demo</h2>
          <p class="mb-3">Try off Submit Hook to see how it works. This will trigger a webhook from Zapier that will send you an email.</p>
          <form class="" action="https://www.submithook.com/" method="post">
            <input type="hidden" name="webhook" value="https://hooks.zapier.com/hooks/catch/3521058/vd34a7/">
            <input type="hidden" name="redirect" value="https://www.submithook.com/demo/">

            <div class="row align-items-center">
              <div class="col mt-4">
                <input name="name" type="text" class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <input name="email" type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <button class="btn btn-primary mt-4 mb-5 btn-lg">Test Submit Hook</button>
          </form>
          <div class="monster-divider"></div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-5">
        <div class="col-6 text-center">
          <h2>Documentation</h2>
          <p>Using Submit Hook is very easy, just point your form's action to https://www.submithook.com and add two hidden fields, one with the URL of the webhook you want us to call, and one with the URL your user should be redirected to after submitting the form. Like this:</p>
          <script src="https://gist.github.com/stephenson/9eb5a2f0295c73f51e146ec822d9fc69.js"></script>

          <p>The only things required is: The method need to be post and the form needs to include the two hidden fileds from the above example.</p>
          <div class="monster-divider"></div>
        </div>
      </div>
    </div>
  </body>
</html>
